<div id="<%= dom_id user %>">
  <p>
    <strong>Tipo persona:</strong>
    <%= user.tipo_persona %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= user.Text %>
  </p>

  <p>
    <strong>Numero documento:</strong>
    <%= user.numero_documento %>
  </p>

  <p>
    <strong>Integer:</strong>
    <%= user.Integer %>
  </p>

  <p>
    <strong>Fecha inicial:</strong>
    <%= user.fecha_inicial %>
  </p>

  <p>
    <strong>Datetime:</strong>
    <%= user.datetime %>
  </p>

  <p>
    <strong>Fecha vencimiento:</strong>
    <%= user.fecha_vencimiento %>
  </p>

  <p>
    <strong>Datetime:</strong>
    <%= user.datetime %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= user.nombre %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= user.Text %>
  </p>

  <p>
    <strong>Correo electronico:</strong>
    <%= user.correo_electronico %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= user.Text %>
  </p>

  <p>
    <strong>Telefono principal:</strong>
    <%= user.telefono_principal %>
  </p>

  <p>
    <strong>Integer:</strong>
    <%= user.Integer %>
  </p>

  <p>
    <strong>Telefono secundario:</strong>
    <%= user.telefono_secundario %>
  </p>

  <p>
    <strong>Integer:</strong>
    <%= user.Integer %>
  </p>

</div>
