<div id="<%= dom_id user_t %>">
  <p>
    <strong>Tipo persona:</strong>
    <%= user_t.tipo_persona %>
  </p>

  <p>
    <strong>Numero documento:</strong>
    <%= user_t.numero_documento %>
  </p>

  <p>
    <strong>Fecha inicial:</strong>
    <%= user_t.fecha_inicial %>
  </p>

  <p>
    <strong>Fecha vencimiento:</strong>
    <%= user_t.fecha_vencimiento %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= user_t.nombre %>
  </p>

  <p>
    <strong>Correo electronico:</strong>
    <%= user_t.correo_electronico %>
  </p>

  <p>
    <strong>Telefono principal:</strong>
    <%= user_t.telefono_principal %>
  </p>

  <p>
    <strong>Telefono secundario:</strong>
    <%= user_t.telefono_secundario %>
  </p>

</div>
