
<div id="<%= dom_id user_e %>">
<div id="contenedor">
<br>
<div class="container">
 <div class="row">
<div class= "col-lg-3">
<table class="table table-hover"> #Vista de registros guardados

  <p>
    <strong>Tipo de persona:</strong>
    <%= user_e.tipo_persona %>
  </p>
  
  <p>
    <strong>Numero de documento:</strong>
    <%= user_e.numero_documento %>
  </p>

  <p>
    <strong>Fecha inicial:</strong>
    <%= user_e.fecha_inicial %>
  </p>

  <p>
    <strong>Fecha de vencimiento:</strong>
    <%= user_e.fecha_vencimiento %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= user_e.nombre %>
  </p>

  <p>
    <strong>Correo electronico:</strong>
    <%= user_e.correo_electronico %>
  </p>

  <p>
    <strong>Telefono principal:</strong>
    <%= user_e.telefono_principal %>
  </p>

  <p>
    <strong>Telefono secundario:</strong>
    <%= user_e.telefono_secundario %>
  </p>
  </table>
  </div>

  </div>

  </div>

</div>
